body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.btn-warning {
  font-family: Helvetica;
  background-color: #fc3;
  color: rgb(25, 25, 25);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

#main-btn {
  width: 100%;
}

#value-prop {
  /*background-image: url("./images/clio_background.jpg")*/
  background: url('./images/clio_background.jpg') no-repeat center right;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  height: 85vh;
  position: relative;
  font-family: 'Markazi Text', "Renault Light","Renault Regular",Helvetica,Arial, serif;
}

#value-prop .value-prop-description {
  color: rgb(235, 255, 250);
  max-width: 32.5em;
  position: absolute;
  background: rgba(0,0,0,.7);
  margin: 6.5em 0 0 2em;
  padding: 20px;
  top: 0;
}

#value-prop .value-prop-description p {
  font-size: 18px;
}

#features {
  background-color: rgb(245, 245, 245);
  padding: 80px 0;
}

#features h3 {
  font-size: 24px;
}

#reprise .row {
  margin: 50px 0;
}

#footer {
  background: rgb(25, 25, 25);
  color: #fc3;
}

#footer ul {
  margin: 0;
  padding: 12px 20px;
}

.underlined-title {
  border-bottom: 2px solid #fc3;
  font-family: 'Markazi Text', "Renault Light","Renault Regular",Helvetica,Arial, serif;
}
